/* Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.mainContent {
  padding-top: 100px;
  text-align: center;
  flex-grow: 1;
}

.header {
  position: fixed;
  font-size: 0.8rem;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 2rem 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1); 
  z-index: 10; 
  margin-left: 50px;
}

.dark-theme .header {
  background:  white;
}

.header button {
  position: relative;
  right: 10px;
  top: 10px;
}

.title {
  font-size: 4rem; 
  color: #000; 
  margin-bottom: 1rem;
  text-align: center; 
  font-weight: 600;
  position: relative; 
}

.title::after {
  content: ''; 
  display: block; 
  height: 3px; 
  background-color: #e76f51; 
  margin: 2px 0px 0;
  transition: width 0.3s ease; 
  animation: expandLine 0.5s ease forwards; 
}

.titleContainer {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.titleIcon {
  margin-right: 15px; 
  size: 50px;
  width: 60px; 
  height: auto; 
  margin-top: 10px;
}

.description {
  color: #1b1b1b; 
  font-size: 1.25rem; 
  margin-bottom: 0; 
  text-align: center; 
  line-height: 1.5;
}

.descriptionEsp {
  color: #7b7b7b; 
  font-size: 1rem;
  margin-bottom: 2rem; 
  text-align: center; 
  line-height: 0.5;
}

.formContainer {
  background: #f9f9f9; 
  padding: 2rem; 
  border-radius: 10px; 
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1); 
  width: 100%; 
  max-width: 600px; 
  margin: 2rem auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem auto;
  width: 100%; 
  max-width: 500px; 
}

.input {
  padding: 1rem;
  font-size: 1rem;
  border: 0.5px solid #ddd; 
  border-radius: 0.5rem; 
  outline: none;
  color: #7b7b7b;
}

.button {
  padding: 1rem;
  background-color: #e76f51;
  color: #fff;
  margin: 0 auto;
  width: 200px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.button3 {
  padding: 0.75rem;
  background-color: #e76f51;
  color: #fff;
  width: 200px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
}

.button2 {
  padding: 0.75rem;
  background-color: #264653; 
  color: #fff;
  width: 150px;
  margin: 0 auto;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  font-size: 0.75rem;
}

.button, .button2, .button3 {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  background-color: #f4a261;
}

.button3:hover {
  transform: scale(1.05);
  background-color: #f4a261;
}

.button2:hover {
  transform: scale(1.05);
  background-color: #264653c9;
}

.featuresContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; 
  padding: 20px;
}

.card {
  flex: 1;
  background: white; 
  padding: 2rem;
  border-radius: 10px; 
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1); 
  max-width: 300px; 
  text-align: center; 
  margin: 1rem; 
  height: 300px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.icon {
  width: 50px; /* Tamaño del icono */
  height: auto; /* Mantener la proporción del icono */
  margin-bottom: 1rem; /* Espacio debajo del icono */
}

.descriptionCard {
  margin-bottom: 2rem;
  font-size: 1rem; 
  color: #666;
}

.titleCard {
  font-size: 1.2rem;
  margin-bottom: 0.5rem; 
  color: #000;
  font-weight: bold;
}

.input:focus {
  border-color: #aaa; /* Resaltar en foco */
}

.shortUrlDisplay {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}


@media (prefers-color-scheme: dark) {
  .container {
    background: #333; 
    color: #fff; 
  }

  .input {
    background: #555;
    color: #fff;
  }

  .button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 600px) {
  .featuresContainer {
    flex-direction: column; 
  }

  .card {
    width: 90%; 
    margin: 10px auto;
  }
}

@keyframes expandLine {
  from { width: 0; }
  to { width: 100%; }
}
