/* Home.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 2rem;
  background: #f9f9f9; /* Fondo claro */
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  border: 1px solid;
  border-radius: 20px;
  margin: 20px;;
}

.mainContent {
  padding-top: 200px;
  text-align: center;
}

.title {
  font-size: 1.2rem; /* Tamaño de la fuente del título */
  margin-bottom: 0.5rem; /* Espacio debajo del título */
  color: #000; /* Color del título */
  font-weight: bold; /* Negrita para el título */
}


.description {
  margin-bottom: 2rem;
  font-size: 1rem; /* Tamaño de la fuente de la descripción */
  color: #666; /* Color más suave para la descripción */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%; /* Ajusta según la anchura deseada */
  max-width: 500px; /* Máxima anchura del formulario */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white; /* O el color de fondo que prefieras */
  padding: 2rem;
  border-radius: 10px; /* Bordes redondeados como los de Vercel */
  box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1); /* Sombra suave */
  max-width: 300px; /* O el ancho que prefieras */
  text-align: center; /* Alinea el texto al centro */
  margin: 1rem; /* Espacio alrededor de las cards */
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #ddd; /* Bordes sutiles */
  border-radius: 0.5rem; /* Bordes redondeados */
  outline: none;
}

.icon {
  width: 50px; /* Tamaño del icono */
  height: auto; /* Mantener la proporción del icono */
  margin-bottom: 1rem; /* Espacio debajo del icono */
}

.input:focus {
  border-color: #aaa; /* Resaltar en foco */
}

.button {
  padding: 0.75rem;
  background-color: #ffc107; /* Color del botón */
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.button2 {
  padding: 0.75rem;
  background-color: #dcdcdc; /* Color del botón */
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}


.shortUrlDisplay {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.copyButton {
  background-color: #17a2b8; /* Color distintivo para copiar */
}

.goButton {
  background-color: #28a745; /* Color distintivo para ir al enlace */
}

@media (prefers-color-scheme: dark) {
  .container {
    background: #333; /* Fondo oscuro para el modo oscuro */
    color: #fff; /* Texto claro para contraste */
  }

  .input {
    background: #555;
    color: #fff;
  }

  .button {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombreado para botones en modo oscuro */
  }
}
