.footer {
    width: 100%;
    background-color: #f5f5f5; 
    text-align: center;
    border-top: 1px solid #eaeaea;
    padding: 1rem 0;
    position: relative;
  }

  .footer p {
    color: #888;
    font-size: 0.8rem;
  }